<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/PeninsulaGroup/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="joybasakqumaone" />
			<add key="ClearTextPassword" value="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" />
			<!--<add key="ClearTextPassword" value="Qumagit@123" />-->
		</github>
	</packageSourceCredentials>
</configuration>

<!--
If any change in common application framework the same need to publish to nuget in order to make it available to all the developers within the organization.
Below are the steps need to be followed 
1. Open Project properties and change the version of the project.
2. Give a build to the project
3. Verify if the UserName and ClearTextPassword are correct.ClearTextPassword is the PAT token in git. Which can be created under developer settings.
4. Open Package manager console and paste the below command and hit enter. ( Before the keyword source need to enter two hyphen from keyboard)
dotnet nuget push ".\bin\Debug\CommonApplicationFramework.(Version Number).nupkg"  source "github".
e.g - dotnet nuget push ".\bin\Debug\CommonApplicationFramework.1.0.2.nupkg"  source "github".
5. If the above command runs successfully then the package will be published to git and ready to use.
-->